<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comic.author %>
</p>

<p>
  <strong>Score:</strong>
  <%= @comic.score %>
</p>

<p>
  <strong>Chapters</strong>
  <table>
  <% @comic_chapters.each do |comic_chapter| %>
    <tr>
      <td><%= comic_chapter.subtitle %></td>
      <td><%= comic_chapter.number %></td>
    </tr>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
